*{
    transition: 0.5s ease-out;
}

body{
    background-color: #ddd;
}

div{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    font-size: x-large;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1em;

}

a:hover{
    
    text-decoration: underline;
    cursor: pointer;
    padding: 1.2em ;
    transform:scale(1.1);
    transform-origin: center;
    
}